.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--grisXtrapale);
  border-bottom: 1px solid var(--grisXpale);
}

.connexion-complete {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  @media screen and (max-width: 800px) {
    width: 50%;
  }
}
