.SectionDesComics img {
  width: 100%;
}

.SectionDesComics h1 {
  padding: 2%;
  color: var(--oeuf);
  background-color: var(--oeufFonce);
}

.enRange {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

.NavigationBande {
  display: flex;
  align-self: center;
  margin: 20px;
}

